
*{
    font-family: 'Hanken Grotesk', sans-serif;
}

.out{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    border: 5px solid tomato;
}
.box{
    display: flex;
    text-align: center;
    justify-content: center;
}

.lbox{
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 350px;
    border: 5px solid tomato;
    flex-wrap: wrap;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.rbox{
    flex-direction: column;
    display: flex;
    height: 500px;
    width: 350px;
    border: 5px solid tomato;
    flex-wrap: wrap;
}
.first{
    flex:1;
    border: 5px solid tomato;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5rem;
}


.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid tomato;
    flex-wrap: wrap;
    background: linear-gradient(hsla(256, 72%, 46%,1),hsla(256, 72%, 46%,0));

  
  }
.b2{
    border: 5px solid tomato;
    flex-wrap: wrap;
    flex:1;
}

.b1{
    border: 5px solid tomato;
    flex-wrap: wrap;
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstr{
    border: 5px solid tomato;
    flex-wrap: wrap;
    flex:1;
}
.rbuttons{
    flex:1;
    border: 5px solid tomato;
    flex-wrap: wrap;
}
.rbbutton{
    flex:1;
    border: 5px solid tomato;
    flex-wrap: wrap;
}