
*{
    font-family: 'Hanken Grotesk', sans-serif;
}

.out{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    max-width: 660px;
    height: 475px;
    border-radius: 40px;
    box-shadow: 5px 10px 5px 10px rgb(245, 245, 245);
}
.box{
    display: flex;
    text-align: center;
    justify-content: center;
}

.lbox{
    flex:1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
}
.first{
    flex:1;
    border: 5px solid tomato;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5rem;
}
.circle{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(hsla(256, 72%, 46%,1),hsla(256, 72%, 46%,0));   
}

  .bigb{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 68px;
    color: white;
    font-weight: 800;
  }
  .smallb{
    margin-top: 5px;
    font-size: 16px;
    opacity: 1;
    color: white;
  }
.b2{
    flex:1.3;
}

.b1{
    flex:1.8;
    display: flex;
    justify-content: center;
}
.firstr{
 padding-right: 7rem;   
 font-size: 21px;
 font-weight:300;   
 justify-content: center;
}
.first1{
    flex:0.3;
    font-size: 22px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    opacity: 0.8;
}
.appreciate{
    flex-basis: 100%;
    font-size: 30px;
    font-weight: 510;
    color: white;
    font-weight:700;
    margin-top: -10px;
    margin-bottom: 10px;
}
.statement{
    padding-top: 2rem;
    flex-basis: 100%;
    color: rgba(239, 236, 236, 0.925);
    font-weight: 400;
    font-size: 16px;
}
.rbox{display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
  
}
.button:hover{
    background: hsl(224, 30%, 27%);
    cursor: pointer;
}
.firstb{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    max-width: 500px;
}

.bbutton{
    display: flex;
    justify-content: center;
    flex-basis:100%;
    flex-wrap:wrap;
    align-self: self-end;
    min-width:300px;
 
}

.rbutton{
    margin:5px;
    height: 50px;
    min-width: 250px;
    border-radius: 10px;
    border: none;
    background: none;
    font-size: 17px;
}
.rbutton.a{
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsla(0, 100%, 67%);
}

.rbutton.b{
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsla(39, 100%, 56%);
}

.rbutton.c{
    background-color: hsla(166, 100%, 37%, 0.1);
    color:hsla(166, 100%, 37%);
}

.rbutton.d{
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsla(234, 85%, 45%);
}



.space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    flex-basis: 100%;
    padding:5px 5px;
    margin: 19px;
    height: 50px;
    min-width: 250px;
    border-radius: 30px;
    font-weight: 800;
    font-size: 16px;
    border: none;
    align-self:self-end;
    color: white;  
}
.doneby{
    font-size: smaller;
    text-align: center;
    

}

@media (max-width:500px){
    .container{
        flex-direction: column;
        flex-basis: 50%;
    }
    .out{
        flex-direction: column;
    }
    .bbutton{
        padding-right: 5rem;
        padding-left: 5rem;
    }

}




